@font-face {
	font-family: 'Gilroy Medium';
	src: url("../fonts/font/Gilroy-Medium.ttf");
	font-style: normal;
}


@font-face {
	font-family: 'Gilroy Bold';
	src: url("../fonts/font/Gilroy-Bold.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Regular';
	src: url("../fonts/font/Gilroy-Regular.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Thin';
	src: url("../fonts/font/Gilroy-Thin.ttf");
	font-style: normal;
}



html{
    box-sizing: border-box;
	font-family: 'Gilroy';
	background-color: #3e3e40;	
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
	/* text-align: center; */
	font-family: 'Gilroy';
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	color: #000;
}

.wrapper{
	max-width: 1350px;
	margin: 0 auto;
}

.form{
	width: 860px;
	height: 470px;
	border: #fff solid 5px;
	border-radius: 20px;
	margin-left: 245px;

	margin-top: 10%;

	display: flex;

}

.formLine{
	width: 380px;
	height: 100%;
	border-right: 5px solid #fff;
}

.form_logo {
	margin-top: 170px;
	margin-left: 50px;
}


.conf {
	height: 470px;
	width: 470px;
	color: #fff;
	align-items: center;
	text-align: center;

    font-family: 'Gilroy Medium';
}

.confText {
	margin-top: 50px;
	padding-left: 30px;
	padding: 30px;
	font-size: 20px;
}

.confCode {
    font-family: 'Gilroy Bold';
	text-align: center;
	margin-top: 30px;
	background: #3e3e40;
	border: #9887EF 2px solid;
	border-radius: 20px;
	height: 60px;
	width: 200px;
	padding-left: 10px;
	color: #fff;
	font-size: 32px;
}
