@font-face {
	font-family: 'Gilroy';
	src: url("../fonts/font/Gilroy-Medium.ttf");
	font-weight: 800;
	font-style: normal;
}


html{
    box-sizing: border-box;
	font-family: 'Gilroy';
	background-color: #3e3e40;
}
*,*::before,*::after{
    box-sizing: inherit;
}


.wrapper{
	max-width: 1350px;
	margin: 0 auto;
}


.form {
	width: 860px;
	height: 470px;
	border: #fff solid;
	border-radius: 20px;
	margin-left: 245px;
	margin-top: 17%;
}


.phoneField {
	width: 320px;
	height: 50px;
	border: #9887EF solid;
	border-radius: 13px;
	margin-top: 150px;
	margin-left: 450px;
	background-color: #3e3e40;

	color: #fff;
	font-family: 'Gilroy';
	font-size: 28px;
}

.passwordField {
	width: 320px;
	height: 50px;
	border: #9887EF solid;
	border-radius: 13px;
	margin-top: 30px;
	margin-left: 450px;
	background-color: #3e3e40;

	color: #fff;
	font-family: 'Gilroy';
	font-size: 28px;

}

.loginButton {
	margin-left: 535px;
	margin-top: 30px;
	height: 40px;
	width: 145px;

	background-color: #9887EF;
	color: #fff;
	border-radius: 9px;
	border: #9887EF solid;

	font-size: 26px;
	font-family: 'Gilroy';
	
	margin-bottom: 30px;

}

.goToReg {
	margin-left: 560px;
	color: #fff;
}

.goToRegLink {
	margin-left: 540px;
	text-decoration: none;
	color: #9887EF;
}