@font-face {
	font-family: 'Gilroy';
	src: url("../fonts/font/Gilroy-Medium.ttf");
	font-weight: 800;
	font-style: normal;
}


html{
    box-sizing: border-box;
	font-family: 'Gilroy';
	background-color: #3e3e40;	
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
	/* text-align: center; */
	font-family: 'Gilroy';
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	color: #000;
}

.wrapper{
	max-width: 1350px;
	margin: 0 auto;
	}

.form{
	width: 860px;
	height: 470px;
	border: #fff solid;
	border-radius: 20px;
	margin-left: 245px;
	margin-top: 17%;
}
/* .verticalline{	
	border: #fff solid;
	height: 465px;
	border-width: 0.1em;
	margin-left:370px;
	margin-top:-418px;

} */
.picture1{
	/* margin-left:800px;
	margin-top:-597px; */
	position:absolute;
	z-index: -1;
	rotate: 0 deg;
}
.picture2{
	/* margin-left:-159px;
	margin-top:-392px; */
	position:absolute;
	z-index: -1
}
.text1{
	margin-left:325px;
	margin-top:-315px;
	position:absolute;
	z-index: 0;
	
}
.textnumber{
	margin-left:725px;
	margin-top:-365px;
	position:absolute;
	z-index: 0;
}
.textpassword{
	margin-left:730px;
	margin-top:-265px;
	position:absolute;
	z-index: 0;
}
.textenter{
	margin-left:830px;
	margin-top:-145px;
	position:absolute;
	z-index: 0;
}
.header__link1{
	/* color: #3e3e40 */
	color: #fff;
	margin-left:260px;
	margin-top:410px;
	position:absolute;
	z-index: 1;
}
.header__link2{
	/* color: #3e3e40 */
	color:#9887EF;
	margin-left:240px;
	margin-top: 430px;
	position:absolute;
	z-index:1;
}
.link{
	margin-left:830px;
	margin-top:-65px;
	position:absolute;
	z-index: 0;
}
.phoneField {
	width: 320px;
	height: 50px;
	border: #9887EF solid;
	border-radius: 13px;
	margin-top: 150px;
	margin-left: 450px;
	background-color: #3e3e40;

	color: #fff;
	font-family: 'Gilroy';
	font-size: 28px;
}
.passwordField {
	width: 320px;
	height: 50px;
	border: #9887EF solid;
	border-radius: 13px;
	margin-top: 30px;
	margin-left: 450px;
	background-color: #3e3e40;

	color: #fff;
	font-family: 'Gilroy';
	font-size: 28px;

}
.nicknameField{
	width: 320px;
	height: 50px;
	border: #9887EF solid;
	border-radius: 13px;
	margin-top: 30px;
	margin-left: 450px;
	background-color: #3e3e40;

	color: #fff;
	font-family: 'Gilroy';
	font-size: 28px;
}
.repasswordField{
	width: 320px;
	height: 50px;
	border: #9887EF solid;
	border-radius: 13px;
	margin-top: 30px;
	margin-left: 450px;
	background-color: #3e3e40;

	color: #fff;
	font-family: 'Gilroy';
	font-size: 28px;
}
.loginButton {
	margin-left: 535px;
	margin-top: 30px;
	height: 40px;
	width: 145px;

	background-color: #9887EF;
	color: #fff;
	border-radius: 9px;
	border: #9887EF solid;

	font-size: 26px;
	font-family: 'Gilroy';
	
	margin-bottom: 30px;

}

.goToReg {
	margin-left: 560px;
	color: #fff;
}

.goToRegLink {
	margin-left: 540px;
	text-decoration: none;
	color: #9887EF;
}
