@font-face {
	font-family: 'Gilroy Medium';
	src: url("../fonts/font/Gilroy-Medium.ttf");
	font-style: normal;
}


@font-face {
	font-family: 'Gilroy Bold';
	src: url("../fonts/font/Gilroy-Bold.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Semibold';
	src: url("../fonts/font/Gilroy-Semibold.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Regular';
	src: url("../fonts/font/Gilroy-Regular.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Thin';
	src: url("../fonts/font/Gilroy-Thin.ttf");
	font-style: normal;
}

.shapka {
    height: 80px;
    width: 100%;
    background-color: #f7f9f950;
}

.shapkaContent {
    height: 80px;
    width: 100%;
	display: flex;
}
 
.back{
	display: flex;
	height: 30px;
	width: 110px;
	text-decoration: none;
}

.backIMG {
	margin-top: 25px;
	height: 30px;
}

.backTEXT {
	height: 30px;
	margin-top: 22px;
	margin-left: 10px;
	font-family: 'Gilroy Semibold';
	font-size: 28px;
	color: #fff;
}


.person{
	margin-left: 440px;
	width: 250px;
	text-decoration: none;
	text-align: center;
	margin-top: 12px;
}


.personTEXT{
	color:#fff;
	font-family:'Gilroy Semibold';
	font-size: 28px;
}

.person_status{
	color:#fff;
	font-family:'Gilroy Semibold';
	font-size: 14px;
	margin-top: 3px
}


.useravatar {
	margin-left: 490px;
	margin-top: 10px;
}

.avatarPic {

	height: 60px;

}

.chatContent {

	height: calc(100vh - 80px - 75px);

}


.messageInput {
	display: flex;
}

.message-input-field {

	width: 1250px;
	height: 55px;

	background: rgba(152, 135, 239, 0.25);

	border: 0px;
	border-radius: 14px;
	padding-left: 20px;

	font-family:'Gilroy Semibold';
	font-size: 24px;
	color: #fff;


}

.message-send-button {
	margin-left: 45px;
	height: 55px;
	width: 55px;
	border: 0;
	background: url('../img/png/send-btn.png') center;
	background-size: cover;

}

