@font-face {
	font-family: 'Gilroy Medium';
	src: url("../fonts/font/Gilroy-Medium.ttf");
	font-style: normal;
}


@font-face {
	font-family: 'Gilroy Bold';
	src: url("../fonts/font/Gilroy-Bold.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Semibold';
	src: url("../fonts/font/Gilroy-Semibold.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Regular';
	src: url("../fonts/font/Gilroy-Regular.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Thin';
	src: url("../fonts/font/Gilroy-Thin.ttf");
	font-style: normal;
}

.shapka {
    height: 80px;
    width: 100%;
    background-color: #f7f9f950;
}

.shapkaContent {
    height: 80px;
    width: 100%;
	display: flex;
	text-align: center;
}
 
.back{
	display: flex;
	height: 30px;
	width: 110px;
	text-decoration: none;
}

.backIMG {
	margin-top: 25px;
	height: 30px;
}

.backTEXT {
	height: 30px;
	margin-top: 22px;
	margin-left: 10px;
	font-family: 'Gilroy Semibold';
	font-size: 28px;
	color: #fff;
}

.personTEXT{
	height:35px;
	width:55px;
	color:#fff;
	font-family:'Gilroy Semibold';
	font-size: 28px;
}

.person_status{
	height:35px;
	width:55px;
	color:#fff;
	font-family:'Gilroy Semibold';
	font-size: 11px;
	margin-top:3px
}

.person{
	margin-top:23px;
	text-align: center;
}
