@font-face {
	font-family: 'Gilroy Medium';
	src: url("../fonts/font/Gilroy-Medium.ttf");
	font-style: normal;
}


@font-face {
	font-family: 'Gilroy Bold';
	src: url("../fonts/font/Gilroy-Bold.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Regular';
	src: url("../fonts/font/Gilroy-Regular.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Thin';
	src: url("../fonts/font/Gilroy-Thin.ttf");
	font-style: normal;
}

.shapka {
    height: 80px;
    width: 100%;
    background-color: #f7f9f950;
}

.person{
	margin-top: 15px;
	height:35px;
	weight:55px;
	

}
 
.back{
	height:40px;
	font-size:30px;
	margin-left: 100px;
	/* background: #f7f9f950; */
	border:0

}