@font-face {
	font-family: 'Gilroy Medium';
	src: url("../fonts/font/Gilroy-Medium.ttf");
	font-style: normal;
}


@font-face {
	font-family: 'Gilroy Bold';
	src: url("../fonts/font/Gilroy-Bold.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Semibold';
	src: url("../fonts/font/Gilroy-Semibold.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Regular';
	src: url("../fonts/font/Gilroy-Regular.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Thin';
	src: url("../fonts/font/Gilroy-Thin.ttf");
	font-style: normal;
}


.wrapperChat {
    max-width: 1050px;
	margin: 0 auto;
}

.shapka_chats{
    height: 80px;
    width: 100%;
    background-color: #515152;
    display:flex

}

.chatsBlock {
    height: 100vh;
    /* width: 1300px; */

    display: flex;
    flex-direction: column;

    /* overflow: scroll;
    overflow-x: hidden; */

    /* background: rgba(152, 135, 239, 0.2); */

    margin-top:15px
}


.chatUsername {

    font-family: 'Gilroy Bold';
    font-size: 24px;
    color: #fff;

}

.userGreeting {
    text-decoration: none;
    color: #d4d4d4;
    font-size: 20px;
    margin-top: 25px;

    font-family: 'Gilroy Regular';
}



.chat {

    width: 100%;
    height: 100px;
    display: flex;

    transition: 0.3s;

    text-decoration: none;

    border-bottom:#9887ef3c 1px solid
}

.chat:hover {
    background: rgba(152, 135, 239, 0.25);
    transition: 0.3s;
    border-radius:15px
}

.chatLink {
    width: 100%;
    height: 100px;
}

.chatTextInfo {
    display: block;
    margin-left: 20px;
}


.chatTitle {
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;

    width: 100%;

    font-family: 'Gilroy Bold';
}

.chatSubtitle {
    
    text-decoration: none;
    color: #d4d4d4;
    /* font-size: 20px; */
    margin-top: 5px;
    height:35px;

    /* font-family: 'Gilroy Medium'; */

    border-radius:10px;
    background: #9887ef3c;
}

.chatAvatar {
    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 30px;

}

.gear_wheel{
    background-color: #515152;
    border:#515152
}

.avatar{
    background-color: #515152;
    border:#515152;
    margin-left: 185px;
    margin-top: -10px
}

.shapka {
    height: 80px;
    width: 100%;
    background-color: #515152;
}

.search{
    border:2px #fff solid;
    height:45px;
    width:850px;
    border-radius:14px;
    margin-top:20px;
    margin-left:190px
}

.searchField{
    background: #515152;
    border-radius:14px;
    height:100%;
    width:100%;
    border:#515152;
    font-family:'Gilroy Semibold';
    font-size: 20px;
    color: #fff;
    padding-left: 20px;
}

.font{
    font-size:15px;
    font-family: 'Gilroy Medium';
    vertical-align: middle;
}

.pop-upWindow{
    /* position: fixed;     */
    border:#9887ef3c;
    height:430px;
    width:550px;
    border-radius:15px;
    background: #9887EF;
    /* opacity: 1;
    transition: opacity 2s linear; */
    /* display:none */
}

.pop-upWindow1{
    display:flex;
    
    
}

.chatAvatar_pop-up{
    width: 165px;
    height: 165px;
    margin-top: 20px;
    margin-left: 30px;
    margin-top:45px
}

.Nickname_pop-upField{
    margin-top:115px;
    margin-left:20px;
    text-align: center;
    width:290px;
    height:35px
}
.Nickname_pop-up{
    font-family: 'Gilroy Semibold';
    font-size:  30px ;
    color:#fff
}
.phone_number{
    font-family: 'Gilroy Semibold';
    font-size:  28px ;
    color:#fff;
    margin-left:30px;
    margin-top:35px
}
.settings{
    display:flex;
    width:425px;
    text-decoration:none;
}
.gear_wheel1{
    width:50px;
    height:100px;
    margin-left:30px;
}

.settingsTEXT{
    font-family: 'Gilroy Semibold';
    font-size:  30px ;
    color:#fff;
    margin-left:10px;
    margin-top:30px;
}

.pop-upSettings{
    border:#9887ef3c;
    height:430px;
    width:550px;
    border-radius:15px;
    background: #9887EF;
}
.gear_wheel2{
    width:50px;
    height:100px;
    margin-left:50px;
    margin-top:35px;
}
.pop-upSettings1{
    width:340px;
    height:50px;
    background:#9887EF;
    display:flex;
    text-decoration: none;
    text-align:center;
    margin-top: 100px;
}
.settingTEXT1{
    font-family: 'Gilroy Semibold';
    font-size:  55px ;
    color:#fff;
    margin-left:10px;
    margin-top:50px;
    
}
.change{
    margin-top:100px;
    text-decoration: none;
    /* display: block; */
    height: 140px;
    color:#fff;
    margin-left:50px
}
.ch_nickname{
    font-family: 'Gillroy Semibold';
    font-size: 28px;
    margin-top:27px;
}
.ch_password{
    font-family: 'Gillroy Semibold';
    font-size: 28px;
    margin-top:27px;
}
.ch_avatar{
    font-family: 'Gillroy Semibold';
    font-size: 28px; 
    margin-top:27px;   
}
/* CHAT WINDOW */


