@font-face {
	font-family: 'Gilroy Medium';
	src: url("../fonts/font/Gilroy-Medium.ttf");
	font-style: normal;
}


@font-face {
	font-family: 'Gilroy Bold';
	src: url("../fonts/font/Gilroy-Bold.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Regular';
	src: url("../fonts/font/Gilroy-Regular.ttf");
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Thin';
	src: url("../fonts/font/Gilroy-Thin.ttf");
	font-style: normal;
}


.chatsBlock {
    height: 100vh;
    width: 450px;
    border-right: #fff 5px solid;

    display: flex;
    flex-direction: column;

    overflow: scroll;
    overflow-x: hidden;
}

.chat:first-child {

    background: #515152;
    border-bottom: 1px #fff solid;
    border-right: #fff 5px solid;

}

.chatTitle:first-child {

    font-size: 20px;
    margin-top: 20px;

}

.chatUsername {

    font-family: 'Gilroy Bold';
    font-size: 24px;
    color: #fff;

}

.userGreeting {
    text-decoration: none;
    color: #d4d4d4;
    font-size: 20px;
    margin-top: 25px;

    font-family: 'Gilroy Regular';
}



.chat {

    width: 450px;
    height: 100px;
    display: flex;

    transition: 0.3s;

    text-decoration: none;

}

.chat:hover {
    background: #515152;
    transition: 0.3s;
}

.chatLink {
    width: 100%;
    height: 100px;
}

.chatTextInfo {
    display: block;
    margin-left: 20px;
}


.chatTitle {
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;

    width: 100%;

    font-family: 'Gilroy Bold';
}

.chatSubtitle {
    
    text-decoration: none;
    color: #d4d4d4;
    font-size: 20px;
    margin-top: 5px;

    font-family: 'Gilroy Regular';
}

.chatAvatar {

    width: 60px;
    height: 60px;
    margin-top: 20px;
    margin-left: 30px;

}