<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чаты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chats.css') }}">
</head>
<body>
    <ul class="chatsBlock">

        <a href="" class="chat">
            <img src="{{ url_for('static', filename='img/svg/avatar.svg') }}" class="chatAvatar">
            <div class="chatTextInfo">
                <div class="userGreeting">
                    Привет,
                </div>
                <div class="chatUsername">
                    {{ username }}
                </div>
            </div>    
        </a>

        {% for chat in chatlist %}
        <a href="" class="chat">
            <img src="{{ url_for('static', filename='img/svg/avatar.svg') }}" class="chatAvatar">
            <div class="chatTextInfo">
                <div class="chatTitle">
                    {{ chat }}
                </div>
                <div class="chatSubtitle">
                    LAST MESSAGE FROM USERNAME
                </div>
            </div>    
        </a>
        {% endfor %}
    </ul>

    <div class="chatWindow">
        
    </div>
</body>
</html>