<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чаты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
</head>
<body>
    <div class="shapka">
        <div class="wrapperChat">
            <div class="shapkaContent">
                <a class="back" href="/chats">
                    <img src="{{ url_for('static', filename='img/svg/back-arrow.svg') }}" class="backIMG">
                    <h1 class="backTEXT">Назад</h1>
                </a>

                <a class="person" href="/">
                    <h1 class="personTEXT">Nickname</h1>
                    <h2 class="person_status">online</h2>
                </a>
                

                <div class="useravatar">
                    <img src="{{ url_for('static', filename='img/svg/avatar.svg') }}" class="avatarPic">
                </div>
            </div>

            <div class="chatContent">
                <div class="inputmessage">
                    <a class="inputmessageContent">ПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринял</a>
                </div>
                <div class="outputmessage">
                    <a class="outputmessageContent">ВыслалПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринялПринял</a>
                </div>
            </div>

            <div class="messageInput">
                <input type="text" class="message-input-field" placeholder="Напечатать..." id="inputField" oninput="checkInput()">
                <button class="message-send-button" id="sendButton" disabled>
                    <img src="{{ url_for('static', filename='img/svg/send-arrow.svg') }}" class="message-send-button-pic">
                </button>
            </div>

            <script>
                function checkInput() {
                    var inputField = document.getElementById("inputField");
                    var submitButton = document.getElementById("sendButton");
        
                    if (inputField.value.trim() !== "") { 
                        submitButton.disabled = false; 
                    } else {
                        submitButton.disabled = true; 
                    }
                }
            </script>
           
        </div>
    </div>
</body>
</html>